{{ define "header" }}
    {{ partial "page-single/variables-init.html" . }}
    {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
    {{ partial "page-single/content.html" . }}

    <span class="section__title">Les organisations vivantes</span>
    <ul class="posts">
      {{ $ov := where .Site.RegularPages "Section" "organisations-vivantes"}}
      {{ range $ov }}

          <li>
          <span class="list__title--small">
            <a href="{{ .RelPermalink }}" {{if .Draft}}class="draft"{{end}}>{{ .Title }}</a>
          </span>
        </li>

      {{ end }}
    </ul>

{{ end }}

{{ define "footer" }}
    {{ partial "page-list/footer.html" . }}
{{ end }}
