{{ define "main" }}

<main>
	<div class="post">
		{{ partial "single/post-info.html" . }}
		{{ partial "single/title.html" . }}

		{{ partial "single/header.html" . }}

		<h2>Sommaire</h2>
		<ol>
		{{ range where .Site.Pages "Section" .Section }} 
			
			{{if .Params.subtitle }}
				<li><a href="{{.RelPermalink}}">{{ .Params.subtitle | humanize }}</a></li>
			{{ end }}

		{{ end }}
		</ol>
		<hr/>


		{{ .Content }}




		{{ partial "single/footer.html" . }}
	</div>

</main>

{{ end }}
