{{ define "main" }}

<main>
	<div class="post">
		
		{{ partial "single/title.html" . }}
		{{ partial "single/header.html" . }}



			{{ $counter := 0 }}
			{{ range ( (where .Site.Pages "Type" "posts").GroupByDate "2006") }}

					<h3>{{ .Key }}</h3>

					<ol class="articles">
					{{ range .Pages }}
						{{ if eq .Title "Posts"}} 
							
						{{ else }}
							{{ $counter = add 1 $counter }}
							<!--{{ .Scratch.Set "counter" $counter }} -->	
							{{ .Render "li-arc" }}		
						{{ end }}
					{{ end }}
					</ol>
			{{ end }}

			<h3>{{ $counter }} articles </h3>	


			<h2>

		{{ partial "single/footer.html" . }}
	</div>
	
</main>

{{ end }}

