body {
	background-color: black	;
	color: white;
	font-size: 10px;
	font-family: Verdana,Helvetica,serif;
	margin: 0em 0em 0em 0em ;
}

a:link {
	text-decoration: none;
	color: white ;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: white;
}

a:hover {

	color: white ;
	font-size: 12px ; 
	font-weight: bold;

}

div.index {

	font-size: 12px ;
	text-align: center ;
	
}	

div.leftdiv {

	font-size: 12px ;
	text-align: left ;
	
}

div.centered {

	font-size: 14px ;
	font-variant: small-caps;
	font-weight: bold ;
	text-align: center ;
	
}	

div.footer {

	color: white ;
	text-align: center ;
	font-size: 10px ;
	font-variant: small-caps ;

}	

span.newstitle {

	font-size: 14px ;
	#border-bottom-style: solid ;
	#border-bottom-width: 1; 

}

span.newsdate {

	font-size: 10px ;
	font-style: italic ; 
	text-valign: top;

}

span.news {

	font-size: 13px ;
	font-family: monospace ; 

}

table.quizz {

	font-size : 12px;
	tex-align: center ;
}

table.quizz td.question {

	width: 250px;
	font-style : italic ;
	text-align: left ;
	
	
}	

table.quizz td.reponse {

	text-align: left;

}


table.avis td.avistitle {

	font-size: 12px ;
	border-bottom-style: dotted ;
	border-bottom-width: 1;

}

table.avis td.aviscontent {

	font-size: 12px ;
	font-family: monospace ; 
	
}


table.chapitre {

	color: white ;
	font-size: 14px ;
	
	
}

table.chapitre td.title {

	border-bottom-style: solid ;
	border-bottom-width: 0;
	width: 100%;

}

span.maj {

	font-size: 10px;
	}

table.detail {

	color: white ;
	font-size: 12px ;
	
}


table.detail td.detailtitle {

	font-size: 14px;

}

table.detail td.detailbody {

	
}

table.bootleg td.btitle {

	font-size: 18px ;
	font-variant: small-caps ;

}


table.bootleg td.subtitle {

	font-size: 14px ;
	
}


table.bootleg td.tracks {

	font-size: 12px ;
	font-style: italic ;
	
}
