{{ define "header" }}
    {{ partial "page-single/variables-init.html" . }}
    {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
    {{ partial "page-single/content.html" . }}
			{{ $counter := 0 }}
			{{ range ( (where .Site.Pages "Type" "posts").GroupByDate "2006") }}
					<h3>{{ .Key }}</h3>

					<ul class="articles">
					{{ range .Pages }}
						{{ if eq .Title "Posts"}} 
							
						{{ else }}
							{{ $counter = add 1 $counter }}
							<!--{{ .Scratch.Set "counter" $counter }} -->	
							{{ .Render "li-arc" }}		
						{{ end }}
					{{ end }}
					</ul>
			{{ end }}

			<h3>{{ $counter }} articles </h3>	
{{ end }}

{{ define "footer" }}
    {{ partial "page-list/footer.html" . }}
{{ end }}
