{{ $mymonths := index $.Site.Data.mois }}
<a href="{{ .Permalink }}" class="catalogue-item">
    <div>
        <time datetime="{{ .PublishDate }}" class="catalogue-time">
        		{{ .Date.Day }} 
        			{{ if eq .Lang "fr" }}
					{{ index $mymonths (printf "%d" .Date.Month) }} 
					{{ end }}

					{{ if eq .Lang "en" }}
					{{ .Date.Month }} 
					{{ end }}
					
				{{ .Date.Year }} 

		    </time>
        <h1 class="catalogue-title">{{ .Title }}</h1>
        <div class="catalogue-line"></div>
        <p>
            {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary | plainify }}{{ end }}
        </p> 
    </div>

</a>
