{{ define "main" }}

<main>
    <h1>{{ strings.FirstUpper .Data.Singular }} {{ .Title }}</h1>
	<div class="catalogue">
		{{ range (.Paginate .Pages).Pages }}
			{{ .Render "summary" }}
		{{ end }}
	</div>
	
	<div class="pagination">
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		{{ end }}
		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
		{{ end }}
		<span>{{ .Paginator.PageNumber }}</span>
	</div>

	<div class=post>

			<h3>Tags</h3>

			<p>
		    {{ range .Site.Taxonomies.tags }}
		            <a href="{{ .Page.Permalink }}" alt="{{ .Count }} occurence(s)" title="{{ .Count }}  occurence(s)">{{ .Page.Title }}</a>  &nbsp;
		    {{ end }}
			</p>


	</div>	

</main>

{{ end }}
