{{ define "main" }}


<main>


<script src=/jquery-3.7.0.min.js></script>

 <form method="get">
  <label for="rech">Recherche</label>
  <input type="text" id="rech" name="rech"><br><br>
  <input type="submit" value="Submit">
</form> 	


	<div class="post">
		{{ partial "single/post-info.html" . }}
		{{ partial "single/header.html" . }}

			<div id="search"></div>


		{{ partial "single/footer.html" . }}
	</div>
	

<script>

			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);
			const rech = urlParams.get('rech')

			//$.getJSON('http://localhost:3000/api/?q=pablo', function(data) {
			  $.getJSON('/mysearch/?q=' + rech + '&nhits=100', function(data) {
			    // JSON result in `data` variable
			    console.log(data);

			    var html = 	"Nombre de résultats [" + data.num_hits + "]"; 

			    console.log(data.hits.length); 

			    let i = 0;
			    while (i < data.hits.length) {
			    	html += "<div class=resultat><a href="+data.hits[i].doc["href"][0]+">"+data.hits[i].doc["date"]+ " - " +data.hits[i].doc["title"][0]+"</a></div>"; 
			    	console.log(data.hits[i].doc["href"][0]);
			    	i++;
				}

			    $('#search').html(html); 	

			});
			</script>



</main>

{{ end }}
