{{ define "main" }}


<main>

 <form method="get">
  <label for="rech">Recherche</label>
  <input type="text" id="rech" name="rech"><br><br>
  <input type="submit" value="Submit">
</form> 	


	<div class="post">
		{{ partial "single/post-info.html" . }}
		{{ partial "single/header.html" . }}

			<div id="search"></div>


		{{ partial "single/footer.html" . }}
	</div>


  <script src="/lunrjs/lunr.min.js"></script>

	
<script>

var documents = [
    {{ range $index, $page := .Site.Pages }}
   
            {{ if eq $page.Type "posts"}}
                {{ if ne $index 0 }},{{ end }}
                { "href" : "{{$page.RelPermalink}}", "title" : "{{$page.Title}}",
                 "date": "{{$page.PublishDate}}",  "content" : "{{$page.Plain}}" }
            {{ end }}        
                
    {{ end }}

	]	


var idx = lunr(function () {
  this.ref('name')
  this.field('text')

  documents.forEach(function (doc) {
    this.add(doc)
  }, this)
})

idx.search("agile")



</script>



</main>

{{ end }}
