{{ with .Site.Params.copyright }}
<div class="copyright">
  &copy; {{ with $.Site.Params.since }}{{ if lt . now.Year }}{{ . | safeHTML }} - {{ end }}{{ end }}{{ now.Format "2006"}} {{ . | safeHTML }}
  {{ with $.Site.Params.license }}
  <br/>  <a href="{{$.Site.Params.licenseURL | safeHTML}}" target=_blank>{{ . | safeHTML }}</a>
  {{end}}
</div>
{{ end }}
{{ with .Site.Params.showBuiltWith }}
<div class="builtwith">
Built with <a href="https://gohugo.io">Hugo</a> ❤️ <a href="https://github.com/derme302/triple-hyde">triple-hyde</a>.
</div>
{{ end }}
