


{{ with .Get "class" }} <figure class='{{ . }}'> {{ end }}
	<a href='{{ .Get "src" | replaceRE "-low" "" }}'>
		<img src='{{ .Get "src" }}' title='{{ .Get "title" }}' 
			{{ with .Get "alt" }} 
			alt='{{ . }}' 
			{{ else }}
			{{ end }}	

			{{ with .Get "width" }} width='{{ . }}' {{ end }}/>
	</a>
{{ with .Get "class" }} </figure> {{ end }}