{{ with .Get "id" }}
	

	<section class=video>

		<iframe 
			src="https://player.vimeo.com/video/{{ . }}" 
			width="640" 
			height="360" 
			frameborder="0" 
			allow="autoplay; fullscreen">
		</iframe>

	</section>
	
{{ end }}

