

.post {
	
	ol {

		padding: 0; 

	}

	li {

		list-style-type: square; 
	}

	/*
	li a {
		color: $default-color;
	}

	li a:hover {
		color: $blue;
		text-decoration: underline;
	}*/
}



@media(max-width: 854px){

	.post {


		li {

			list-style-type: circle; 
		}

		li a {
			color: $blue;
		}
	}
}

