.quote {
		margin: 5px; 
        margin-bottom: 10px; 
        padding: 10px; 
        display: inline-block;
        font-family:courier, courier new, serif;
        background-color: #eee;
   
}


pre,
p > code,
li > code,
dd > code,
td > code {
  background: #ffeff0;
  word-wrap: break-word;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
  box-sizing: border-box; 
}

pre {
  display: flex; 
  flex-wrap: wrap; 
  word-wrap: normal; 
  box-sizing: border-box; 
}

code {
  line-break: auto; 
  white-space:normal; 
  word-break:break-all;
}