
.video {

  text-align: center;
  margin: auto; 
  margin-bottom: 3rem; 
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-color: inherit; 

	iframe, object, embed {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	} 

}