{{ define "main" }}

<main>

<div class="post">
		
		{{ partial "single/title.html" . }}
		{{ partial "single/header.html" . }}


			<form method="post" action="/contact/contact.php">
				<div class="field half first">
					<label for="name">Nom</label>
					<input type="text" name="name" id="name" value="" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" value="" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<div class="field">
					<label for="human"><i>[êtes-vous humain ?]</i> Trois que j'ajoute à quatre font (en chiffre) ?</label>
					<input type="text" name=human id=human value="0"/> 	
				</div>	

				<ul class="actions">
					<input type="submit" name="submit" id="submit" value='Envoyer' />
				</ul>
			</form>

		{{ partial "single/footer.html" . }}
	
</div>

</main>

{{ end }}
