		<footer>
			<span>
			
				Tout le contenu de ce site / blog / journal est couvert par une licence 
				<a href=https://creativecommons.org/licenses/by-nd/4.0/ target="_blank">
				Attribution-NoDerivs 4.0 International </a><br/>
				Vous pouvez utiliser mon travail mais vous devez me citer, donner la source, et ne
pas la modifier ou l’adapter. merci.<br/>
		    On se lasse de tout, sauf d'apprendre. -- Virgile
		    <br/>


			2009 - {{ .Site.Lastmod.Year }} 

			<br/>	

            {{ partial "icons/icon-mastodon.html" . }}
	        {{ partial "icons/icon-linkedin.html" . }}
	        {{ partial "icons/icon-gitlab.html" . }}
	        {{ partial "icons/icon-rss.html" . }}
	        {{ partial "icons/icon-peertube.html" . }}
       
			</span>
		</footer>
