<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{- if .IsHome }}
			<meta name="description" content="{{ .Site.Params.Description }}">
		{{- else if .Description }}
			<meta name="description" content="{{ .Description }}">
		{{- end }}

		<meta property="og:title" content="{{ .Title }}" />
		<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
		<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
		<meta property="og:url" content="{{ .Permalink }}" />

		<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ printf "%s |" .Title }} {{ .Site.Title }}{{ end }}</title>

		<!-- rss -->	
		{{ with .OutputFormats.Get "rss" -}}
    		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
		{{ end -}}

		{{ $styles := resources.Get "scss/tale.scss" | toCSS | minify }}
		<link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
		
  		<!-- RSS -->
  		<link rel="alternate" type="application/rss+xml" title="RSS" href="/index.xml">


  		<!-- NO favicon -->
  		<link rel="icon" href="data:,">
  		
  		
		</head>
