		<nav class="nav">
			<div class="nav-container">
				<a href="/">
					<h1 class="nav-title">PABLO PERNOT .fr</h1>
				</a>

			</div>
			<div class="nav-container">
				{{ partial "header-menu.html" . }}
			</div>
		</nav>
