<section class=header-menu>
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL }}">
                    {{ .Pre }}
                    <span>{{ .Title | upper }}</span>
                    {{ .Post }}
                </a>
            </li>
        {{ end }}
    </ul>
</section>