{{ $taxonomy := "tags" }}
{{ with .Param $taxonomy }}

	<br/>
	<blockquote>
	{{ range $index, $tag := . }}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
          <a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
      {{- end -}}
    {{- end -}}
	</blockquote>
{{ end }}