{{ $include_toc := .Params.include_toc}}
<article>
  <header>
    {{ with .Params.symbol }}  
    <img src=/images/symbols/{{ string . }}.jpg />
    {{ else }}
    <img src=/images/symbols/{{ math.Rand | mul 8 | math.Ceil }}.jpg />
    {{ end }}
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}
    <span class="post__subtitle">
      {{.}}
    </span>
    {{ end }}
    {{ partial "page-single/post-meta.html" . }}
  </header>
  {{ $tableOfContents := .TableOfContents }}
  {{ with .Site.Params.toc }}
  {{ if ne $include_toc false }}
    <div class="toc-wrapper">
      <input type="checkbox" id="tocToggle">
      <label for="tocToggle">Table of Content</label>
      {{ if eq . "hugo" }}
          {{ $tableOfContents }}
      {{ else if eq . "tocbot"}}
        <div class="toc" id="TableOfContents"></div>
      {{ end }}
    </div>
  {{ end }}
  {{ end }}
  <div class="post">
    {{ .Content }}
  </div>
  {{ partial "page-single/post-navigation.html" . }}
  {{ partial "page-single/post-related.html" . }}
  {{ partial "page-single/post-comment.html" . }}
</article>
