{{ if and (ne .Params.showpagemeta false) ( eq .Section "posts") }}
<div class="post__meta">
    <!-- published date -->
    {{ if not .Date.IsZero }}
      <i class="fas fa-calendar-alt"></i> {{ .Date | time.Format  (.Site.Params.dateformat | default "Jan 02, 2006") }}
    {{ end }}
    <!-- categories -->
    {{ with .Params.categories }}
      {{ $total := len . }}
      {{ if gt $total 0 }}
          in
          {{ $total := sub $total 1 }}
          {{ range $i, $cat := sort . }}
              <a class="badge badge-category" href="{{ "/categories/" | relURL }}{{ $cat | urlize }}">{{ $cat | upper }}</a>
              {{ if lt $i $total }}•{{ end }}
          {{ end }}
      {{ end }}
    {{ end }}
    <!-- tags -->
    {{ with .Params.tags }}
      {{ $total := len . }}
      {{ if gt $total 0 }}
          <br/>
          {{ $subtotal := sub $total 1 }} <i class="fas fa-tags"></i>
          {{ range $i, $tag := . }}
          <a class="badge badge-tag" href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag | lower }}</a>
          {{ if lt $i $subtotal }} {{ end }}
      {{ end }}
    {{ end }}
    {{ end }}
    <br/>
    <i class="fas fa-clock"></i> {{ .ReadingTime }} min de lecture
</div>
{{ end }}
