{{ $mymonths := index $.Site.Data.mois }}

{{ if not (eq .Date.Year 01) }}

	<time datetime="{{ .PublishDate }}" class="catalogue-time">
    
        		{{ .Date.Day }} 
        			{{ if eq .Lang "fr" }}
					{{ index $mymonths (printf "%d" .Date.Month) }} 
					{{ end }}

					{{ if eq .Lang "en" }}
					{{ .Date.Month }} 
					{{ end }}
					
				{{ .Date.Year }} 

	</time>

{{ end }}


<h1 class="post-title">
{{ .Title }}</h1>
<div class="post-line"></div>