{{ $mymonths := index $.Site.Data.mois }}

<li><a href="{{ .RelPermalink }}" 
	alt='{{ .Date.Day }} {{ index $mymonths (printf "%d" .Date.Month) }} {{ .Date.Year }}'
	title='{{ .Date.Day }} {{ index $mymonths (printf "%d" .Date.Month) }} {{ .Date.Year }}'
	>{{ .Title }}</a></li>
